.notify-bar-wrapper {
  left: 0px;
  width: 100%;
  z-index: 99;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  opacity: .90;
  height: auto;
  display: none;
}
.notify-bar-wrapper div {
 /* display: inline;*/
}
.notify-bar-wrapper-content {
    padding: 20px 50px;
}

#notify-bar-content {
  /*line-height: 60px;*/
}
#notify-bar a {
  text-decoration: underline;
  color: white;
}
#notify-bar-btn {
/*  cursor: pointer;
  margin-left: 22px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: normal;
  font-size: 16px;
  background-color: white;
  display: inline-block;
  font-weight: bold;*/
  padding: 0px 20px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .notify-bar-wrapper div {
    width: 100%;
    display: inline-block;
    height: auto;
    line-height: 30px;
  }
  #notify-bar-btn {
    margin-top: 10px;
    margin-left: 0px;
    padding-top: 3px;
  }
  .notify-bar-wrapper {
    padding: 10px;
  }
  #notify-bar {
    line-height: 30px;
  }
}
