{#
/**
 * @file
 * Theme implementation for notifybar.
 *
 * Available variables:
 * - message: notification message.
 * - button: button label.
 * - position: message position.
 * - background: notification message background color.
 * - color: notification message text color.
 */
#}

{% if position is not empty %}
  {% set style = 'position:fixed; ' ~ position ~':0px;' %}
{% endif %}
<!-- <div class="notify-bar-wrapper" style="background-color: {{ background }}; {{ style }} : 0;"> -->
<div class="notify-bar-wrapper-content">
    <div id="notify-bar-content" data-infobar="notify-bar-content" style="color: {{ color }};">{{ message }}
    <span class="notify-bar-close"> <button id="notify-bar-btn" style="color: {{ background }};">{{ button|t }}</button> </span></div>
</div>
